body {
    background: #333333 url(../Images/background.jpg);
    margin: 0px;
    font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
    color: #6a6969;
}

h1 {
    font: 400 38px/50px 'Bree Serif', Georgia, serif;
    color: #6a6969;
    text-align: center;
    border-radius: 30px;
    background-color: #151E35;
}

h2 {
    font: 400 18px/22px 'Bree Serif', Georgia, serif;
    color: #6a6969;
}

h3 {
    font: 400 14px/16px 'Bree Serif', Georgia, serif;
    color: #6a6969;
}

ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #6a6969;
}

a:hover {
    color: #979797;
}

a img {
    border: 0px;
}

#container {
    width: 950px;
    margin: 0px auto 300px auto;
    background: url("../Images/body-bg.png");
    overflow: auto;
    padding-bottom: 100px;
}


/****************************************************/


/* HEADER */


/****************************************************/

#menu {
    width: 944px;
    height: 55px;
    background-color: #222222;
    padding: 0px 43px;
    position: relative;
    top: 0px;
    left: 47%;
    margin: 0px 0 0 -455px;
}

#menu #main-menu {
    float: right;
    padding-top: 25px;
}

#menu #main-menu li {
    float: left;
    list-style: none;
    margin: 0 6px 0 0px;
    font: 400 16px/20px 'Bree Serif', Georgia, serif;
}

#menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 0px 0px -40px;
}

#menu ul li a {
    color: #6a6969;
    padding: 10px;
    text-decoration: none;
}

.deroulant1 {
    font-size: 1.2em;
}

.deroulant2 {
    font-size: 1.2em;
}

li a:hover {
    border-bottom: 2px #FFF solid;
}

#menu ul li ul {
    display: none;
}


/* Rend le menu déroulant caché par défaut */

#menu ul li:hover ul {
    /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index: 99999;
    display: list-item !important;
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
    background-color: #222222;
}

#menu ul li:hover ul li {
    float: none;
}

li>a:after {
    content: ' »';
}


/* Changer ce afin de changer le symbole du menu déroulant */

li>a:only-child:after {
    content: '';
}

fieldset {
    position: relative;
    left: 0;
    right: 0;
    padding: 70px 0;
    margin-top: 30px;
    text-align: center;
    Border: none;
}

input[type="radio"] {
    display: none;
}

.dib {
    position: relative;
    display: inline-block;
    width: 350px;
    height: 390px;
    transition: background 300ms;
    cursor: pointer;
    margin: 0 0 0 10px;
}

.dib:hover {
    background: #182649;
}

.dib i {
    color: #fff;
    font-size: 56px;
    margin-top: 40px;
}

h3 {
    color: #fff;
    margin-top: 50px;
    font-size: 15px;
}

.detail {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.95);
    position: absolute;
    background: #182649;
    color: #efefef;
    padding: 25px;
    top: -30px;
    left: -30px;
    right: -60px;
    bottom: -30px;
    z-index: 1;
    cursor: crosshair;
    font-size: 13px;
    line-height: 20px;
    overflow: auto;
    transition: all 500ms;
}

input[type=radio]:checked+label>.detail {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

#about img {
    width: 80%
}


/****************************************************/


/* EXPERIENCE photo */


/****************************************************/

#experience {
    margin: 0px 43px;
    padding-top: 5px;
}

#experience .col {
    margin: 0 0 0 180px;
}

#experience .content {
    overflow: auto;
}

footer {
    background-color: #222222;
    height: 20px;
    clear: both;
    text-align: center;
    color: #454444;
}


/* MISC */


/****************************************************/

.top-divider,
.bottom-divider {
    width: 100%;
    height: 2px;
    background: url(images/divider.png) repeat-x;
    clear: both;
}

.top-divider {
    margin-bottom: 40px;
}

.bottom-divider {
    margin-top: 40px;
}